
body, html {
    height: 100%;
}
.logo {
height: 44px;
width:44px;
margin-right: 10px;
margin-top: 10px;
}
.hero-image {

    background-image: url("http://i.imgur.com/Q2jtzSi.png");

    height: 70%;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
